.DS_Store
*.s
*.o
*.bc
*.ll
*.gco
*.gso
*.gso.dSYM
*.gcn
*.gct
*.c
l1
l2
minigrace
misc
tests/test.log
buildinfo.grace
objectdraw.grace
rtobjectdraw.grace
animation.grace
js/.DS_Store
js/StandardPrelude.js
js/animation.js
js/ast.js
js/buildinfo.js
js/collections.js
js/collectionsPrelude.js
js/compiler.js
js/createJsGraphicsWrapper.js
js/dialect.js
js/errormessages.js
js/gUnit.js
js/gUnit_test.js
js/genc.js
js/genjs.js
js/grace
js/grace-debug
js/graphix.js
js/identifierresolution.js
js/index.html
js/lexer.js
js/math.js
js/math_test.js
js/minigrace.js
js/minitest.js
js/minitest_test.js
js/objectdraw.js
js/parser.js
js/requireTypes.js
js/rtobjectdraw.js
js/staticTypes.js
js/staticTypes_test.js
js/stringMap.js
js/unixFilePath.js
js/util.js
js/xmodule.js
objectdraw/
stubs/StandardPrelude.grace
stubs/collectionsPrelude.grace
.git-generation-cache
modules/tests/test.log
modules/stobjectdraw.grace
c/*.c
c/*.grace
c/*.gcn
c/*.gso
c/minigrace
c/*.h
c/Makefile.conf
c/bin
c/configure
node_modules
Makefile.conf
.directory-environ
stdin_minigrace
grace-web-editor/
*.xcodeproj
*.xcodeproj/*
*.xcworkspace
*.xcworkspace/*
.gitignore~
