*.s
*.o
*.bc
*.ll
*.gco
*.gso
*.gso.dSYM
*.gcn
*.gct
*.c
java/*.java
tests/*.java
*.class
l1
l2
minigrace
UnicodeData.txt
unicodegen.py
misc
tests/test.log
buildinfo.grace
js/index.html
.git-generation-cache
c/*.c
c/*.grace
c/*.gcn
c/*.gso
c/minigrace
c/*.h
c/Makefile.conf
c/bin
Makefile.conf
c/configure
java/*.grace
.directory-environ
stdin_minigrace
java/grace/lib/StandardPrelude.java
java/grace/lib/StandardPrelude.grace
