.DS_Store
*.s
*.o
*.bc
*.ll
*.gco
*.gso
*.gso.dSYM
*.gcn
*.gct
*.c
*.grace.bak
*.js
l1
l2
j1
j2
compiler-js
compiler-inspect
grace
js/mgc
minigrace
minigrace-js
misc
npm-build-dir
npm-sha
package.json
selftest
buildinfo.grace
objectdraw.grace
rtobjectdraw.grace
grace-inspect
animation.grace
js/.DS_Store
js/animation.js
js/ast.js
js/buildinfo.js
js/collections.js
js/collectionsPrelude.js
js/createJsGraphicsWrapper.js
js/date.js
js/date_test.js
js/dialect.js
js/errormessages.js
js/gUnit.js
js/gUnit_test.js
js/genjs.js
js/grace
js/gracedoc.js
js/grace-inspect
js/graphix.js
js/identifierKinds.js
js/identifierresolution.js
js/index.html
js/lexer.js
js/logo.js
js/math.js
js/math_test.js
js/random.js
js/minigrace.js
js/minigrace-inspect
js/minitest.js
js/minitest_test.js
js/notest.js
js/objectdraw.js
js/option.js
js/parser.js
js/random_test.js
js/requireTypes.js
js/rtobjectdraw.js
js/standardGrace.js
js/staticTypes.js
js/staticTypes_test.js
js/stobjectdraw.js
js/stringMap.js
js/turtle.js
js/unixFilePath.js
js/util.js
js/xmodule.js
js/tests/test*.log
js/tests/*.txt
js/tests/*.js
js-kg/
modules/tests/test*.log
.git-generation-cache
modules/tests/test.log
modules/*objectdraw*.grace
node_modules
Makefile.conf
.directory-environ
stdin_minigrace
objectdraw/
grace-web-editor/
utilities/
*.xcodeproj
*.xcodeproj/*
*.xcworkspace
*.xcworkspace/*
.gitignore~
